<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Repair Log</title>
</head>
<body>
  <h1>Repair Log:</h1>
  <% repairData.forEach(repair => { %>
    <ul><strong><%= `${repair.brand} ${repair.model}`%></strong>
      <li> <%= `Processor: ${repair.processor}` %></li>
      <li> <%= `Storage Type: ${repair.storageType}` %></li>
      <li> <%= `Storage Capacity: ${repair.storageCapacity}` %></li>
      <li> <%= `Boot Status: ${repair.boots}` %></li>
    </ul>
  <% }) %>
</body>
</html>